

<div *ngIf="List.length=='0'" class="alert alert-danger"  style="margin-top: 20px;" role="alert">No data available please create the user</div>
<div   *ngIf="List.length>'0' " class="container">
  
  
  <div class="form-group" style="margin-top: 20px;">
    <input type="text" class="form-control mx-auto" placeholder="Search Here" [(ngModel)]="term">
</div>
  <table class="table">
    <thead>
      <tr>
        
        <th>Name</th>
        <th>Phone Number</th>
        <th>&nbsp;&nbsp;Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of List | filter:term">
        <td>{{todo.name}}</td>
        <td>{{todo.phone}}</td>
       <td>
          <button type="button"  [routerLink]="['/dashboard/', todo.id, 'create']" class="btn btn-link" >Edit</button>
          <button type="button" class="btn btn-link" (click)="deleteTodo(todo.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>